.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.guess-me {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
  margin-top: 40px;
  
}

button {
  padding: 4px;
  font-size: 18px;
}

button + button{
  display: inline-block;
  margin-left: 20px;
}

.wrong-answer {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 24px;
  margin: 10px;
}
